using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows.Forms;

namespace iwanttosleep
{
    public partial class Form2 : Form
    {
        public Form2()
        {
            InitializeComponent();
            go();
        }
        string bot = "Бот";

        Form1 openSecondForm;
        int kolvo;
        public void go()
        {
            if (textBox1.Visible == true && textBox1.TextLength > 3)
            {
                button3.Visible = true;
            }
            else if (textBox2.Visible == true && (textBox2.TextLength > 3 && textBox3.TextLength > 3))
            {
                button3.Visible = true;
            }
        }
        private void button1_Click(object sender, EventArgs e)
        {
            label2.Visible = true;
            textBox1.Visible = true;

            label3.Visible = false;
            textBox2.Visible = false;
            label4.Visible = false;
            textBox3.Visible = false;
            kolvo = 1;
        }

        private void button2_Click(object sender, EventArgs e)
        {
            label2.Visible = false;
            textBox1.Visible = false;

            label3.Visible = true;
            textBox2.Visible = true;
            label4.Visible = true;
            textBox3.Visible = true;
            kolvo = 2;
        }

        private void textBox1_TextChanged(object sender, EventArgs e)
        {

        }

        private void label2_Click(object sender, EventArgs e)
        {

        }

        private void label3_Click(object sender, EventArgs e)
        {

        }

        private void textBox2_TextChanged(object sender, EventArgs e)
        {

        }

        private void label4_Click(object sender, EventArgs e)
        {

        }

        private void textBox3_TextChanged(object sender, EventArgs e)
        {

        }

        private void button3_Click(object sender, EventArgs e)
        {
            if (textBox1.Visible == true)
            {
                openSecondForm = new Form1(textBox1.Text, bot, kolvo);
                openSecondForm.Show();
            }
            else if (textBox2.Visible == true)
            {
                openSecondForm = new Form1(textBox2.Text, textBox3.Text, kolvo);
                openSecondForm.Show();
            }



        }
    }
}
